<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" routerLink="/">Logo</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Link 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 2</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Produits
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/products">Chercher</a>
        <a class="dropdown-item" routerLink="/new-product">Ajouter</a>
      </div>
    </li>
  </ul>
</nav> 
<router-outlet>

</router-outlet>